@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('./assets/mountain-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

p {
	font-size: 14px;
	align-items: center;
}

h1 {
	font-size: 40px;
	grid-column: span 1;
}

button {
	background: #2196f3;
	border: solid 0.2px #eee;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	text-align: center;
	line-height: 4em;
	justify-self: stretch;
	align-self: stretch;
	border-radius: 5px;
	margin: 2px;
}

button:focus {
	outline: none;
}

.container {
	background-color: #e9e9e9;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	padding: 0.5em;
}

#root {
	height: 660px;
	width: 600px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

.math {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 5;
	display: grid;
	grid-template-columns: 1fr;
}

.numbers {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 5;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.operators {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr);
}
.enter {
	background: #673ab7;
	border: solid 0.2px #eee;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	line-height: 4em;
	grid-row: span 2;
}

.input {
	background: #673ab7;
	border: solid 0.2px #eee;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	grid-column: span 5;
	grid-row-start: 1;
	grid-row-end: 2;
	border-radius: 5px;
	max-height: 128px;
	padding: .5em;
	padding-right: 1em;
	padding-left: 1em;
	display: grid;
	grid-template-rows: 40px 60px;
	justify-content: right;

}

.equation {
	grid-row-start: 1;
	grid-row-end: 2;
}

.zero {
	grid-column: span 2;
}
