@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #e9e9e9;
}

p {
    background: #2196F3;
    border: solid .2px #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-align: center;
    line-height: 4em;
    justify-self: stretch;
    align-self: stretch;
}

 {

}

.math > p {
    font-weight: 500;
}

.root {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7 , 1fr)
    height: 600px;
    width: 400px;
}

.math {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;

}
.numbers{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.enter {
    background: #673AB7;
    border: solid .2px #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-align: center;
    line-height: 4em;
    justify-self: stretch;
    align-self: stretch;
    grid-column: span 4;

}

.input {
    background: #673AB7;
    border: solid .2px #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-align: center;
    line-height: 4em;
    justify-self: stretch;
    align-self: stretch;
    grid-column: span 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.zero {
    grid-column: span 3;


}

